<launch>

    <node pkg="navigation_valrob" name="motion_controlleur" type="node_motion_controller.py"/>
    <node pkg="navigation_valrob" name="consigne_point" type="node_consigne_point.py"/>
    <node pkg="navigation_valrob" name="driver_motor" type="node_driver_BaseRoulante.py"/>

    <rosparam>
        krho : 0.2
        kalpha : 1.5
        distance_tolerance : 0.5
        angle_tolerance : 0.5
        maxLinVelStopped : 0.5
        maxAngVelStopped : 0.5

        portCarte : "ACM0"
        bauderate : 115200
    </rosparam>

</launch>
