<launch>

    <node pkg="turtlesim" name="turtlesim" type="turtlesim_node"/>
    <node pkg="navigation_valrob" name="motion_controlleur" type="node_motion_controller.py"/>

    <rosparam>
        krho : 0.2
        kalpha : 1.5
        distance_tolerance : 0.5
        angle_tolerance : 0.5
        maxLinVelStopped : 0.5
        maxAngVelStopped : 0.5
    </rosparam>

</launch>
